<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" th:lang="${#locale}">
 <head>
 </head>
  <body lang="zh-CN" class="reader-black-font">
   <nav  th:fragment="nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="width-limit">
    <!-- 左上方 Logo -->
    <a class="logo" href="/"> <span style="color:#ea6f5a;font-weight: 500;font-size: 34px;margin-left: 20px">寒站</span></a>

    <!-- 右上角 -->
      <!-- 未登录显示登录/注册/写文章 -->
      <a class="btn write-btn" href="/article/edit">
        <i class="iconfont ic-write"></i>写文章</a> 
        
      <div class="user" shiro:authenticated="true">
        <div data-hover="dropdown">
          <a class="avatar" th:href="@{/profile/users/{id}(id=${session.cuser.userId})}">
          <img src="/res/images/12-aeeea4bedf10f2a12c0d50d626951489.jpg" th:src="@{/profile/avatar/{id}(id=${session.cuser.userId},size=120)}" alt="120">
          </a>
        </div>
        <ul class="dropdown-menu">
          <li>
            <a th:href="@{/profile/users/{id}(id=${session.cuser.userId})}">
              <i class="iconfont ic-navigation-profile"></i><span>我的主页</span>
            </a>          </li>
          <li>
            <a href="/profile/article">
              <i class="iconfont ic-navigation-mark"></i><span>收藏的文章</span>
            </a>          </li>
         
          <li>
            <a href="/profile/guanzhu">
              <i class="iconfont ic-navigation-wallet"></i><span>我的关注</span>
</a>          </li>

             <li>
            <a href="/profile/setting">
              <i class="iconfont ic-navigation-settings"></i><span>设置</span>
            </a>     </li>
        
          <li>
            <a rel="nofollow" data-method="delete" href="/logout">
              <i class="iconfont ic-navigation-signout"></i><span>退出</span>
</a>          </li>
        </ul>
      </div>   
      <a shiro:guest=""  class="btn sign-up" href="/register">注册</a>
      <a shiro:guest="" class="btn log-in" href="/login">登录</a>

    <!-- 如果用户登录，显示下拉菜单 -->

    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav">
            <li class="tab active">
              <a href="/">
                <span class="menu-text">首页</span><i class="iconfont ic-navigation-discover menu-icon"></i>
             </a>            
           </li>
           
            <li class="tab " shiro:authenticated="">
              <a href="">
                <span class="menu-text">关注</span><i class="iconfont ic-navigation-follow menu-icon"></i>
              </a>           
            </li>
            <li class="tab notification" shiro:authenticated="">
            <a data-hover="dropdown" href="" class="notification-btn">
            <span class="menu-text">消息</span> <i class="iconfont ic-navigation-notification menu-icon"></i> 
             </a> 
            <ul class="dropdown-menu">
              <li><a href=""><i class="iconfont ic-comments"></i> <span>评论</span> <!----></a></li>
              <li>
                 <a href="#">
                  <i class="iconfont ic-others"></i> <span>公告</span>
                </a></li>
              </ul>
            </li>
          <li class="search">
            <form action="/search" accept-charset="UTF-8" method="get">
              <input type="text" name="searchKey" id="content" value="" th:value="${searchKey}" autocomplete="off" placeholder="搜索" class="search-input">
              <a class="search-btn" href="javascript:void(null)"><i class="iconfont ic-search"></i></a>
           </form> 
           </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

 <!--新版本导航-->
   <header  th:fragment="header">
       <div class="hidden-xs header"><!--超小屏幕不显示-->
           <h1 class="logo"> <a href="/" title="个人技术博客"></a> </h1>
           <ul class="nav hidden-xs-nav">
               <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span>网站首页</a></li>
               <li><a href="/article/edit"><span class="glyphicon glyphicon-erase"></span>去写文章</a></li>
               <li><a href="about.html"><span class="glyphicon glyphicon-user"></span>关于我们</a></li>
               <li><a href="friendly.html"><span class="glyphicon glyphicon-tags"></span>友情链接</a></li>
           </ul>
           <div class="feeds"> <a class="feed feed-xlweibo" href="javascript:void(0)" target="_blank"><i></i>新浪微博</a> <a class="feed feed-txweibo" href="javascript:void(0)" target="_blank"><i></i>腾讯微博</a> <a class="feed feed-rss" href="" target="_blank"><i></i>订阅本站</a> <a class="feed feed-weixin" data-toggle="popover" data-trigger="hover" title="微信扫一扫" data-html="true" data-content="<img src='images/weixin.jpg' alt=''>" href="javascript:;" target="_blank"><i></i>关注微信</a> </div>
           <div class="wall"><a href="readerWall.html" target="_blank">读者墙</a> | <a href="tags.html" target="_blank">标签云</a></div>
       </div>
       <!--/超小屏幕不显示-->
       <div class="visible-xs header-xs"><!--超小屏幕可见-->
           <div class="navbar-header header-xs-logo">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-xs-menu" aria-expanded="false" aria-controls="navbar"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
           </div>
           <div id="header-xs-menu" class="navbar-collapse collapse">
               <ul class="nav navbar-nav header-xs-nav">
                   <li class="active"><a href="index.html"><span class="glyphicon glyphicon-home"></span>网站首页</a></li>
                   <li><a href=""><span class="glyphicon glyphicon-erase"></span>网站前端</a></li>
                   <li><a href=""><span class="glyphicon glyphicon-inbox"></span>后端技术</a></li>
                   <li><a href=""><span class="glyphicon glyphicon-globe"></span>管理系统</a></li>
                   <li><a href="about.html"><span class="glyphicon glyphicon-user"></span>关于我们</a></li>
                   <li><a href="friendly.html"><span class="glyphicon glyphicon-tags"></span>友情链接</a></li>
               </ul>
               <form class="navbar-form" action="search.php" method="post" style="padding:0 25px;">
                   <div class="input-group">
                       <input type="text" class="form-control" placeholder="请输入关键字">
                       <span class="input-group-btn">
            <button class="btn btn-default btn-search" type="submit">搜索</button>
            </span> </div>
               </form>
           </div>
       </div>
   </header>

   <!-- 每日一句 -->
   <div th:fragment="slogan" class="sentence"> <strong>每日一句</strong>
       <h2 id="s_ymd_week">2015年11月1日  星期日</h2>
       <p id="slogan">你是我人生中唯一的主角，我却只能是你故事中的一晃而过得路人甲。</p>
   </div>


   <footer class="footer" th:fragment="newfooter">POWERED BY &copy;<a href="#">hanmlet.cn</a> ALL RIGHTS RESERVED &nbsp;&nbsp;&nbsp;<span><a href="http://www.hanmlet.cn/" target="_blank">寒站</a></span> <span><a href="">鲁ICP备18048882</a></span> </footer>


   <!--最新评论-->
   <div class="sidebar-block comment" th:fragment="newcomment">
       <h2 class="title"><strong>最新评论</strong></h2>
       <ul>
          <!-- <li data-toggle="tooltip" data-placement="top" title="站长的评论"><a target="_blank" href=""><span class="face"><img src="images/icon/icon.png" alt=""></span> <span class="text"><strong>技术博客站长</strong> (2015-10-18) 说：<br />
          欢迎来到个人技术博客，在这里可以看到网站前端和后端的技术等 ...</span></a></li>
           <li data-toggle="tooltip" data-placement="top" title="读者墙上的评论"><a target="_blank" href=""><span class="face"><img src="images/icon/icon.png" alt=""></span> <span class="text"><strong>技术博客站长</strong> (2015-10-18) 说：<br />
          欢迎来到个人技术博客，在这里可以看到网站前端和后端的技术等 ...</span></a></li>
           <li data-toggle="tooltip" data-placement="top" title="个人技术博客的SHORTCUT和ICON图标...的评论"><a target="_blank" href=""><span class="face"><img src="images/icon/icon.png" alt=""></span> <span class="text"><strong>技术博客站长</strong> (2015-10-18) 说：<br />
          欢迎来到个人技术博客，在这里可以看到网站前端和后端的技术等 ...</span></a></li>
           <li data-toggle="tooltip" data-placement="top" title="个人技术博客的SHORTCUT和ICON图标...的评论"><a target="_blank" href=""><span class="face"><img src="images/icon/icon.png" alt=""></span> <span class="text"><strong>技术博客站长</strong> (2015-10-18) 说：<br />
          欢迎来到个人技术博客，在这里可以看到网站前端和后端的技术等 ...</span></a></li>
           <li data-toggle="tooltip" data-placement="top" title="个人技术博客的SHORTCUT和ICON图标...的评论"><a target="_blank" href=""><span class="face"><img src="images/icon/icon.png" alt=""></span> <span class="text"><strong>技术博客站长</strong> (2015-10-18) 说：<br />
          欢迎来到个人技术博客，在这里可以看到网站前端和后端的技术等 ...</span></a></li>-->
       </ul>
   </div>

   <!--热门推荐-->
   <div class="sidebar-block recommend" th:fragment="newrecommend">
       <h2 class="title"><strong>热门推荐</strong></h2>
       <ul>
          <!-- <li><a target="_blank" href=""> <span class="thumb"><img src="/res/images/icon/icon.png" alt=""></span> <span class="text">个人技术博客技术博客的SHORTCUT和ICON图标 ...</span> <span class="text-muted">阅读(2165)</span></a></li>
           <li><a target="_blank" href=""> <span class="thumb"><img src="/res/images/icon/icon.png" alt=""></span> <span class="text">个人技术博客技术博客的SHORTCUT和ICON图标 ...</span> <span class="text-muted">阅读(2165)</span></a></li>
           <li><a target="_blank" href=""> <span class="thumb"><img src="/res/images/icon/icon.png" alt=""></span> <span class="text">个人技术博客技术博客的SHORTCUT和ICON图标 ...</span> <span class="text-muted">阅读(2165)</span></a></li>
           <li><a target="_blank" href=""> <span class="thumb"><img src="/res/images/icon/icon.png" alt=""></span> <span class="text">个人技术博客技术博客的SHORTCUT和ICON图标 ...</span> <span class="text-muted">阅读(2165)</span></a></li>
           <li><a target="_blank" href=""> <span class="thumb"><img src="/res/images/icon/icon.png" alt=""></span> <span class="text">个人技术博客技术博客的SHORTCUT和ICON图标 ...</span> <span class="text-muted">阅读(2165)</span></a></li>
       --></ul>
   </div>


<!-- footer模板 -->
<footer  th:fragment="footer" class="container">
  <div class="row">
    <div class="col-xs-17 main">
    <a target="_blank" href="/home">关于寒站</a><em> · </em>
    <a target="_blank" href="/contact">联系我们</a><em> · </em>
    <a target="_blank" href="/faqs">帮助中心</a><em> · </em>
         <div class="icp">
        ©2012-2018 寒站 
             </div>
    </div>
  </div>
</footer>
</body>
</html>